body {
    margin:0;
    font-family: Arial, sans-serif;
    background: #f4f4ff;
    transition: 0.3s;
}

.dark {
    background: #121212;
    color: white;
}

header {
    background: #6a11cb;
    padding: 20px;
    color: white;
    text-align: center;
}

nav a {
    color: white;
    margin: 0 15px;
    text-decoration: none;
}

section {
    padding: 50px;
    text-align: center;
    animation: fade 1s;
}
section p{
    line-height: 1.8;
    margin-bottom: 12px;
    font-size: 16px;

}

button {
    padding: 12px 20px;
    background: #6a11cb;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: 0.3s ease;
}

button:hover {
    background: #2575fc;
    transform: scale(1.05);
}

.card {
    background: white;
    padding: 30px;
    width: 600px;
    margin: auto;
    border-radius: 10px;
    box-shadow: 0 10px 25px rgba(0,0,0,0.2);
}

.dark .card {
    background: #1f1f1f;
}

input {
    width: 90%;
    padding: 10px;
    margin: 10px 0;
}

@keyframes fade {
    from {opacity:0; transform: translateY(20px);}
    to {opacity:1; transform: translateY(0);}
}
